<div>
    <h2>Customer Service Chat</h2>

    <form id="chat" onsubmit="submitForm(event)">
        <div class="row">
            <div class="form-group col-4">
                <label for="email">Your email</label>
                <input class="form-control" name="email" id="email" type="email">
            </div>
            <div class="form-group col-4">
                <label for="message">Your Message</label>
                <input class="form-control" name="message" id="message" type="text">
            </div>
        </div>
        <button class="btn btn-success" type="submit" id="btnSend" disabled>
            Send Message
        </button>
    </form>

</div>